spring:
  datasource:
    driver-class-name: org.h2.Driver
    username: sa
    password: sa
    url: jdbc:h2:mem:myDb;DB_CLOSE_DELAY=-1
#    username: sa
#    password:
#    url: jdbc:h2:~/order;DB_CLOSE_ON_EXIT=FALSE
  jpa:
    show-sql: true
    open-in-view: false
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
#        enable_lazy_load_no_trans: true
        format_sql: true
    database-platform: org.hibernate.dialect.H2Dialect
  h2:
    console:
      enabled: true
      path: /h2-console
  profiles:
    active: aws

logging:
  level:
    org:
      hibernate:
        type:
          descriptor:
            sql: trace
server:
  servlet:
    encoding:
      charset: UTF-8
      force: true

cloud:
  aws:
    credentials:
      accessKey: AKIARV6QZHMB54LWNKHZ
      secretKey: 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
    s3:
      bucket: yogijogi
    region:
      static: ap-northeast-2
    stack:
      auto: false